<div class="conta">
    <img src="../../../assets/user.png" width="50px" height="50px">
    <p>Avaliador</p>
    <button class="topo-config" (click)="abrirInfo()">
        <span class="fa fa-cog"></span>
    </button>
    <button class="topo-sair" (click)="logout()">Sair</button>
</div>
<div class="container">
    <div class="card card-body" style="margin-top: 10px; width: 100%; padding: 15px;">
        <div class="filtros">
            <h2>Filtros</h2>

            <form class="form" [formGroup]="filtrarForm">
                <div class="label-input">
                    <label class="labels">Nome</label>
                    <input type="text" placeholder="Nome do candidadto" class="form-control input-nome"
                        formControlName="nome">
                </div>

                <div class="label-input">
                    <label class="labels">Oficio</label>
                    <select class="custom-select form-control input-nome" formControlName="oficio" required>
                        <option value="null" selected>Selecione o oficio</option>
                        <option *ngFor="let item of oficios" [value]="item.oficio">
                            {{ item.oficio }}
                        </option>
                    </select>
                </div>

                <div class="label-input">
                    <label class="labels">Data</label>
                    <input type="date" id="filtro-data" class="form-control input-nome" formControlName="dataInclusao">
                </div>
                <input type="submit" value="Filtrar" class="btn btn-primary btn-tamanho" (click)="filtrar()">
                <button type="button" class="btn btn-secondary r-2" (click)="listar()"
                    style="margin-left: 5px; padding: 4px;">
                    <span class="fa fa-trash"></span> Limpar Filtros
                </button>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert" *ngIf="msgalertFiltro.length > 0"
                        style="padding:3px; margin-top: 5px;">
                        <b style="color: red">*</b> {{ msgalertFiltro }}
                    </div>
                </div>
            </div>
        </div>

        <hr class="border-light">
        <div class="rolar">
            <table class="table table-striped table-bordered table-sm row-border hover tabela">
                <thead>
                    <tr>
                        <th style="width: 35%">Nome</th>
                        <th style="width: 30%;">CPF</th>
                        <th style="width: 25%;">Oficio</th>
                        <th style="width: 10%;">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of candidatos">
                        <td> {{item.nome}} </td>
                        <td> {{item.cpf}} </td>
                        <td> {{item.oficio}} </td>
                        <td style="text-align: center;">
                            <button class="btn btn-primary" style="padding: 4px;" (click)="avaliar(item.idCandidato)">
                                <span></span>Avaliar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert" *ngIf="msgalert.length > 0"
                    style="padding:3px; margin-top: 5px;">
                    <b style="color: red">*</b> {{ msgalert }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal1" *ngIf="abrirProva">
    <div class="card card-body">
        <h3>Avaliação Prática</h3>
        <table class="table table-bordered table-sm row-border hover tabela">
            <thead>
                <tr>
                    <th style="width: 40%;">Nome do Candidato </th>
                    <th style="width: 30%;">Data </th>
                    <th style="width: 30%;" colspan="4">Cargo </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of candidatos">
                    <td> {{item.nome}} </td>
                    <td> {{item.dataInclusao}} </td>
                    <td colspan="4"> {{item.oficio}} </td>
                </tr>
            </tbody>
        </table>
        <form [formGroup]="notaForm">
            <table *ngFor="let item of candidatoSelecionado"
                class="table table-bordered table-sm row-border hover tabela">
                <thead>
                    <tr>
                        <th style="width: 5%;">Item</th>
                        <th style="width: 50%;">Descrição</th>
                        <th style="width: 30%;">Competência Avaliada</th>
                        <th style="width: 5%;">Peso</th>
                        <th style="width: 5%;">Nota</th>
                        <th style="width: 5%;">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td style="font-weight: bold;">EPI"s</td>
                    </tr>
                    <tr>

                        <td>1.1</td>
                        <td>Vestir corretamente</td>
                        <td>Seguranca do trabalho</td>
                        <td>1</td>
                        <td> <select class="custom-select form-control" formControlName="nota1" required>
                                <option value="null" selected>0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </td>
                        <td> 3 </td>
                    </tr>
                    <tr>
                        <td>1.2</td>
                        <td>Vestir corretamente</td>
                        <td>Seguranca do trabalho</td>
                        <td>1</td>
                        <td> <select class="custom-select form-control" formControlName="nota2" required>
                                <option value="null" selected>0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </td>
                        <td> 3 </td>
                    </tr>
                    <tr>
                        <td>1.3</td>
                        <td>Vestir corretamente</td>
                        <td>Seguranca do trabalho</td>
                        <td>1</td>
                        <td> <select class="custom-select form-control" formControlName="nota3" required>
                                <option value="null" selected>0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </td>
                        <td> 3 </td>
                    </tr>
                    <tr>
                        <td colspan="6"></td>
                    </tr>
                    <tr *ngIf="item.oficio == 'Tec.Refrigeração'">
                        <td>2</td>
                        <td style="font-weight: bold;">Sola/Trabalho em tubo de cobre</td>
                    </tr>
                    <tr *ngIf="item.oficio == 'Tec.Refrigeração'">
                        <td>2.1</td>
                        <td>Vestir corretamente</td>
                        <td>Seguranca do trabalho</td>
                        <td>1</td>
                        <td> 3 </td>
                        <td> 3 </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div class="col-md-12">
            <button class="btn btn-danger" (click)="fechar()" style="padding: 3px;">
                Fechar
            </button>
            <button class="btn btn-primary" (click)="salvar()" style="padding: 3px;">
                Salvar
            </button>
        </div>
    </div>
</div>