<div class="conta">
    <img src="../../../assets/user.png" width="50px" height="50px">
    <p>Avaliador</p>
    <button class="topo-sair" onclick="logout()">Sair</button>
</div>
<div class="meio">
    <div class="divForm">
        <h1>Filtrar</h1>
        <form id="form-filtro" [formGroup]="filtrarForm">
            
            <input type="submit" value="Filtrar" id="filtrar" class="btn btn-primary" (click)=" filtrar()">
        </form>
            <span class="fa fa-trash"></span> Remover Filtros
    </div>
    <div class="divTabela">
        <h4 class="font-weight-bold py-1 mb-2">
            <span class="text-muted font-weight-light">Candidatos</span>
        </h4>
        <table class="table table-striped table-bordered table-sm row-border hover">
            <thead>
                <tr>
                    <th style="width: 35%">Nome</th>
                    <th style="width: 30%;">Oficio</th>
                    <th style="width: 20%;">Data</th>
                    <th style="width: 15%;">Opçoês</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of candidatos">
                    <td> {{item.userName}} </td>
                    <td> {{item.roleId}} </td>
                    <td> {{item.dataInclusao}} </td>
                    <td style="text-align: center;">
                        <input type="button" value="Avaliar" class="btn btn-primary" (click)="avaliar(item.idCandidato)"> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>