*{
    margin: 0;
    padding: 0;
}

.conta{
    width: 100%;
    top: 0;
    height: 70px;
    display: flex;
    background-color: #1D232A;
    color: whitesmoke;
    align-items: center;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.conta p{
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
}
.topo-sair{
    color:whitesmoke;
    font-size: 18px;
    position: absolute;
    right: 30px;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    width: 55px;
    padding: 3px;
    text-align: center;
    background-color: #1D232A;
}
.topo-sair:hover{
    transition: 0.2s;
    color: rgb(177, 177, 177);
    text-decoration: none;
}
.topo-config{
    color:whitesmoke;
    font-size: 18px;
    position: absolute;
    right: 90px;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    width: 55px;
    padding: 3px;
    text-align: center;
    background-color: #1D232A;
}
.topo-config:hover{
    transition: 0.2s;
    color: rgb(177, 177, 177);
    text-decoration: none;
}
/*estilo para a div de filtro*/
.labels{
    font-size: 17px;
    margin-right: 5px;
    margin-left: 25px;
}
.btn-tamanho{
    width:100px;
    margin-left: 15px;
    padding: 3px;
}
.container{
    width: 100%;
    margin-left: 7.5%;
}
.form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.input-nome{
    width: 200px;
    padding: 5px;
}
.label-input{
    display: flex;
    align-items: center;
}
.filtros{
    height: 120px;
    width: 100%;
    margin-top: 10px;
}
.rolar{
    height: 350px;
    overflow: auto;
}

/*Layout para celulares*/
@media (max-width: 600px)
{
    .tabela{
        margin-top:100px;
        width: 300px;
        font-size:14px;
    }
    .label-input{
        width: 250px;
        margin-bottom: 5px;
        justify-content: center;
    }.form{
        justify-content: center;
    }
}
