* {
    margin: 0;
    padding: 0;
}

.topo {
    display: flex;
    width: 100%;
    background-color: #0d539d;
    color: whitesmoke;
    padding: 10px;
    display: flex;
    align-items: center;
}

.topo-sair {
    color: whitesmoke;
    font-size: 18px;
    position: absolute;
    right: 30px;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    width: 55px;
    padding: 3px;
    text-align: center;
    background-color: #0d539d;
}

.topo-sair:hover {
    transition: 0.2s;
    color: rgb(177, 177, 177);
    text-decoration: none;
}

/*estilo para a div de filtro*/
.labels {
    font-size: 17px;
    margin-right: 5px;
    margin-left: 25px;
}

.btn-tamanho {
    width: 100px;
    margin-left: 15px;
    padding: 3px;
}

.container {
    width: 100%;
    margin-left: 7.5%;
    height: 600px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.input-nome {
    width: 200px;
    padding: 5px;
}

.label-input {
    display: flex;
    align-items: center;
}

.filtros {
    height: 120px;
    width: 100%;
    margin-top: 10px;
}

.overflow {
    height: 360px;
    overflow: auto;
}

.tabela {
    max-height: 200px;
    overflow: auto;
}

.detalhes {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 60%;
    background-color: whitesmoke;
    padding: 8px;
    border-radius: 5px;
}

/*Layout para celulares*/
@media (max-width: 600px) {
    .tabela {
        margin-top: 100px;
        width: 100%;
        font-size: 14px;
    }

    .label-input {
        width: 250px;
        margin-bottom: 10px;
        justify-content: center;
    }

    .form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .topo {
        width: 100%;
    }

    .container {
        margin-left: 0;
        height: 90vh;
    }

    .border-light {
        display: none;
    }

    .overflow {
        height: 360px;
        overflow: auto;
    }

    .filtros {
        height: 220px;
    }

    .tabela-menor {}
}