<div class="conta">
    <img src="../../../assets/user.png" width="50px" height="50px">
    <p>Administrador</p>
    <button class="topo-sair" (click)="logout()">Sair</button>
</div>
<div class="sidebar">
    <div class="menu-sidebar">
        <a class="links" (click)="irPara()">
                <span class="fa fa-cog"></span> Gerenciar Usuários
        </a>
        <a class="links"   >
                <i class="fa fa-user-plus"  style="margin-right: 10px;"></i> Cadastrar Candidato
        </a>
        <a class="links"  (click)="irParaCadNota()">
                <i class="fa fa-plus"  style="margin-right: 10px;"></i>Cadastrar
                Nota
        </a>
        <a class="links"  >
                <i class="fa fa-plus"  style="margin-right: 10px;"></i>Cadastrar Oficio
        </a>
    </div>
    <img src="../../../assets/logo.png" alt="Logo" class="logo">
</div>
