<div class="geral">
    <img src="../../../assets/logo.png" alt="logo fesfx">
    <h3>Plataforma Avaliação de Oficio</h3>
    <form [formGroup]="crudForm" class="form">
        <div class="large">
            <label for="email">Email</label>
            <input type="text" formControlName="userName" class="form-control inputs" placeholder="Digite o email" required>
        </div>
        <div class="large">
            <label for="senha">Senha</label>
            <input type="password" formControlName="pass" class="form-control inputs" placeholder="Digite a senha" required>
        </div>
        <input type="submit" value="Login" class="btn btn-primary" id="btn-submit" style="margin-top: 10px;" (click)="login()">
        <a href="#" class="esqueci">Esqueci minha senha</a>
    </form>
  </div>