<div class="topo">
    <h2>Cadastro de Usuários</h2>
</div>

<div class="card card-body">
    <form [formGroup]="crudFormCandidato">
        <div class="row meio">
            <div class="col-md-4">
                <label class="control-label required">Nome Completo</label>
                <input type="text" formControlName="nome" class="form-control inputs"
                    placeholder="Digite o nome completo" required>
            </div>
            <div class="col-md-4">
                <label class="control-label required">CPF</label>
                <input type="number" formControlName="cpf" class="form-control inputs"
                    placeholder="Digite o cpf" required>
            </div>
            
        </div>
        <div class="row meio">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label required">Avaliador</label>
                    <div class="input-group">
                        <select class="custom-select form-control" formControlName="idAvaliador" required>
                            <option value="null" selected>Selecione o avaliador</option>
                            <option *ngFor="let item of avaliadores" [value]="item.idAvaliador">
                                {{ item.nome }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label required">Oficio</label>
                    <div class="input-group">
                        <select class="custom-select form-control" formControlName="oficio" required>
                            <option value="null" selected>Selecione o oficio</option>
                            <option *ngFor="let item of oficios" [value]="item.oficio">
                                {{ item.oficio }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class=" meio" style="margin-top: 20px;">
            <button type="button" class="btn btn-primary r-2" (click)="cadastrar()">
                 Cadastrar
              </button>
        </div>
    </form>
</div>