.topo{
    display: flex;
    width: 100%;
    background-color: #0d539d;
    color: whitesmoke;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.meio{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield;
}