<form [formGroup]="crudForm">
  <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Username</label>
      <input  [(ngModel)]="user.userName" type="email" class="form-control" formControlName="userName">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Password</label>
      <input  [(ngModel)]="user.pass" type="password" class="form-control" formControlName="pass">
    </div>
    <button class="btn btn-primary" (click)="login()" >Login</button>
</form>