.meio {
    width: 80%;
    position: absolute;
    left: 20%;
}

.cadNota {
    position: absolute;
    border: 1px solid rgb(162, 166, 170);
    top: 50%;
    margin-top: -90px;
    background-color: white;
    width: 450px;
    height: 220px;
    left: 50%;
    margin-left: -175px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.rolar {
    height: 360px;
    overflow: auto;
}